<button (click)="splice()">splice</button>
<button (click)="slice()">slice</button>
<button (click)="swap()">swap</button>
<button (click)="concatination()">concatination</button>
<button (click)="mapAndReduce()">mapAndReduce</button>
<button (click)="filter()">filter</button>
<button (click)="reverseArray()">reverseArray</button>
<button (click)="reduce()">reduce</button>
<button (click)="find()">find</button>
<button (click)="FindIndex()">FindIndex</button>
<button (click)="some()">some</button>
<button (click)="Every()">Every</button>
<button (click)="sort()">sort</button>
<button (click)="includes()">includes</button>
<button (click)="join()">join</button>
<button (click)="pushPop()">pusn and pop</button>
<button (click)="shiftUnshift()">Shift and Unshift</button>
<button (click)="IndexOfAndLastIndexOf()">IndexOf and LastIndexOf</button>
<button (click)="forEach()">forEach</button>
<button (click)="Flat()">Flat</button>
<button (click)="copyWithIn()">copy With In</button>
<button (click)="keysValuesEntries()">keys Values Entries</button>
<button (click)="ArrayFrom()">Array From</button>
<button (click)="FillwithObjec()">Fill with Object</button>
<button (click)="IncludesFromIndex()">Includes From Index</button>
<button (click)="At()">At </button>
<input type="text" [(ngModel)] = "pData" >
<app-ang-concepts [ChildData]="pData" *ngIf="destroy" (notify)="parentComp($event)">
    <h1>some child dd {{pData}}</h1>
    <h4 class="viewEncapsulation">viewEncapsulation Emulated class name given same</h4>
</app-ang-concepts>
<p>{{childD}}</p>
<button (click)="destroyComp()" _nghost-pmm-5>Destroy</button>
<button (click)="forloop()">forloop</button>
<p>{{desc}}</p>
<button (click)="while()">while</button>
<button (click)="doWhileLoop()">doWhileLoop</button>
<button (click)="forInLoop()">for-in loop</button>
<button (click)="forOfLoop()">for-of Loop</button>
<button (click)="fn1()">fn 1</button>
<button (click)="fn2()">fn 4</button>
<button (click)="fn3()">fn 3</button>
<button (click)="printTables()">fn4</button>
<button (click)="fn5()">fn5</button>
<button (click)="fn6()">fn6</button>
<button (click)="fn7()">fn7</button>
<button (click)="calculateSum()">fn8</button>
