
<ng-container *ngIf="product.length !== 0">
<div class="card-table">
    <div class="card-product">
        <table class="table table-res">
<thead>
    <tr>
        <th>Sr.no</th>
        <th>Product name</th>
        <th>Product image</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of product; let i = index">
        <td>{{i + 1}}</td>
        <td>{{item.title}}</td>
        <td><img style="width: 120px;" src={{item.image}} alt=""></td>
        <td style="width: 25%;">{{item.description}}</td>
        <td style="width: 12%;">{{item.price}}</td>
        <td style="width: 12%;">{{item.quantity}}</td>
        <td style="width: 12%;">{{item.total}}</td>
        <td><button (click)="removeItem(item)" class="btn btn-danger"><mat-icon>delete</mat-icon></button></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td><button class="btn btn-danger" (click)="emptyCart()">Empty cart</button></td>
        <td><button class="btn btn-primary" routerLink="/products">shop more</button></td>
        <td><button class="btn btn-success">checkout</button></td>
        <td><strong>Grand Total: ${{grandTotal}}</strong></td>
    </tr>
</tbody>
        </table>
    </div>
</div>
</ng-container>

<ng-container *ngIf="product.length === 0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="/assets/emptycart.jpg" alt="">
            <h4>your cart is empty</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/" class="btn btn-primary">shop now</button>
        </div>
    </div>
</ng-container>